#register-btn,#login-btn,#verify-btn{
    background-color: #9c7956;
    color: #fff;
}
a{
color:#9c7956;
} .min-vh-85 {
    min-height: 85vh;
  }


  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .hidden {
    display: none;
  }